body{
    background-color:E5DDC5;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: "Poppins", sans-serif;
    color:rgb(40, 40, 78);
}
